
a.nav-item{
    color: #fff !important;
    text-transform: uppercase;
}
a.nav-item:active{
    text-decoration: underline;
}
a.nav-item:hover{
    color: #ffcac2 !important;
}
.bg-main-nav{
    background-color: #F96B66;
}
.perfil{
    margin-top: 60px;
}
.container{
    background-color: rgba(241, 241, 241, 0.93);
    border-radius: 20px;
    margin-top: 50px ;
    padding: 40px;
}
header{
    background-color: #ffcac2;
}

.slogan{
    font-size: 16x;
    letter-spacing: 1px;
    text-shadow: 1px 1px rgb(92, 14, 14);
}

.text-red{
    color: #F96B66;
}

/*Formulario Test Driven*/
.active{
    color: white ;
    font-weight: bolder;
}

.jumbotron, ::ng-deep  body {
    color:#333;
}

li{
    cursor: pointer;
}