<!-- Logo y  Slogan 
<div class="toolbar" role="banner">
  <img width="300" alt="Angular Logo" src="../assets/logo.png" />
  <span>Cada tiempo se marca </span>
</div> -->
<!--Header Section-->
<header>
  <div>
    <a class="navbar-brand" href="#">
      <img width="300" alt=" Logo" src="../assets/logo.png" />
      <span class="slogan text-red">...Cada tiempo se marca </span>
    </a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-main-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active mx-3" routerLink='/inicio'>Inicio <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link mx-3" routerLink='/perfil/3'>Perfil</a>
        <a class="nav-item nav-link mx-3" routerLink='/plan'>Plan de Dieta</a>
        <a class="nav-item nav-link mx-3" routerLink='/contactoTD'>Contacto</a>
      </div>
    </div>
  </nav>
</header>


<div class="container text-left">
  <div class="row content">
    <div class="col-sm-8 col-xs-12 intro">
      <router-outlet></router-outlet>

    </div>

    <div class="col-sm-4 col-xs-12">
      <!--Aqui Viene el calculo IMC-->
      <div class="perfil">
        <app-datospersonales></app-datospersonales>
      </div>
    </div>

  </div>
</div>
<footer>

</footer>